<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#myNavbar">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- logo -->
            <a class="navbar-brand" href="#">
                Mercy Affordable Housing
            </a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
                <li><a href="workorder/workorder_list.html">View Order</a></li>
                <li><a href="{% url 'view_pdf' %}">Generate pdf</a></li>
            </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{ user.username }}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'change_password' %}"><span class="glyphicon glyphicon-log-in"></span> Password change</a></li>
                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                    </ul>
                </li>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-success">Log In</a>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>
